In [7]:
import pandas as pd
d1 = pd.read_csv('foodaccess1.csv')
le = pd.read_csv('stl_le.csv')

In [10]:
le.describe()

,Tract ID,STATE2KX,CNTY2KX,TRACT2KX,e(0),se(e(0)),Abridged life table flag
count,9.700000e+01,97.0,97.0,97.000000,97.000000,97.000000,97.000000
mean,2.951011e+10,29.0,510.0,113098.010309,73.394845,2.118691,2.793814
std,8.076736e+03,0.0,0.0,8076.736420,4.297780,0.678096,0.498710
min,2.951010e+10,29.0,510.0,101100.000000,60.700000,0.843900,1.000000
25%,2.951011e+10,29.0,510.0,106300.000000,70.800000,1.583200,3.000000
50%,2.951011e+10,29.0,510.0,112300.000000,73.700000,2.013600,3.000000
75%,2.951012e+10,29.0,510.0,119101.000000,76.300000,2.455900,3.000000
max,2.951013e+10,29.0,510.0,127500.000000,82.000000,3.882100,3.000000

In [11]:
d1.describe()

        CensusTract  lapop1share  lalowi1share
count  1.060000e+02   106.000000    106.000000
mean   2.951011e+10     0.113322      0.052116
std    8.132848e+03     0.231233      0.110626
min    2.951010e+10     0.000000      0.000000
25%    2.951011e+10     0.000000      0.000000
50%    2.951011e+10     0.000000      0.000000
75%    2.951012e+10     0.099307      0.042413
max    2.951013e+10     0.970813      0.520243